$primary-color: #749bab;
$lightblue: #39697d;
$secondary-color:#1c292e;
$darkblue: #11252e;
$lightgray: #c2c2c4;
$font-stack: 'Rokkitt', sans-serif;
$shadow: rgba(0,0,0,0.2);
$shadow-image: rgba(0,0,0,0.1);

