html{
    scroll-behavior: smooth;
}


//buttons
%btn{
    padding: 0.5rem;
    font-weight: 600;
    border-radius: 50px;
    transition: background-color 0.7s ease;
}

.btn-landing{
    border: 2px solid $lightblue;
    color: $secondary-color;
    font-size: 1.5rem;
    margin: 2rem 0 0;
    @extend %btn;

    &:hover{
        background-color: $secondary-color;
        color: $lightgray;
    }
}

.btn-portfolio{
    border: 2px solid $secondary-color;
    color: $secondary-color;
    font-size: 1.1rem; 
    margin: 1.3rem 0 1.5rem;
    position: relative; 
    bottom: 4.4rem;
    left: 0.8rem;
    @extend %btn;

    &:hover{
        background-color: $darkblue;
        color: $lightgray;
    }
}

.btn-form{
    margin-top: 0.5rem;
    margin-left: 4.5rem;
    background-color: $primary-color;
    border: 2px solid $lightblue;
    color: $secondary-color;
    font: {
        family: $font-stack;
        size: 1.2rem;
    }
    @extend %btn;
    
    &:hover{
        background-color: $secondary-color;
        color: $lightgray;
    }

}

//icons 
.fab, .far{
    padding: 20px; 
    font-size: 30px; 
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

%fa-icon{
    background: transparent;
    color: $secondary-color;
}

%fa-icon-animation{
    transform: scale(1.2);
    transition: transform 0.25s ease-out;
}

.fa-instagram{
    @extend %fa-icon;

    &:hover{
        @extend %fa-icon-animation;
    }
}
.fa-linkedin{
    @extend %fa-icon;

    &:hover{
        @extend %fa-icon-animation;
    }
}

.fa-github{
    @extend %fa-icon;

    &:hover{
        @extend %fa-icon-animation;
    }
}

.fa-twitter{
    @extend %fa-icon;

    &:hover{
        @extend %fa-icon-animation;
    }
}

.fa-arrow-alt-circle-up{
    color: $lightgray;

    &:hover{
        @extend %fa-icon-animation;
    }
}

.fa-bars{
    color: $secondary-color;
    padding: 10px;
}



